:root {
  --main-bg-color: #17181b;
  --main-text-color: yellow;
  --input-bg-color: #fefefe;

  --icon-size: 32px;
  --fab-space: 25px;
}

html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
}

.child {
    margin: auto;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
    .container {
        flex-direction: row;
    }
}

input.rounded {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 25px;
    border-style: none;
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--input-bg-color);
}

.back-button {
  position: fixed;
  bottom: var(--fab-space);
  left: var(--fab-space);
  text-decoration: none;
  font-size: var(--icon-size);
}

.about-button {
  position: fixed;
  bottom: var(--fab-space);
  right: var(--fab-space);
  text-decoration: none;
  font-size: var(--icon-size);
}

.info {
    color: var(--main-text-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.text-container {
  color: var(--main-text-color);
  padding: 25px;
}

.text-container div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-container a {
  color: var(--main-text-color);
}

.icon {
    text-decoration: none;
    font-size: var(--icon-size);
    margin-left: 20px;
    margin-right: 20px;
}

#add-it {
  display: none;
}

.center-it {
  text-align: center;
}

#qrcode {
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  /* perspective: 1000px; */
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#video-placeholder {
  width: 320px;
  max-width: 320px;
}

.video-container {
  display: none;
}
